.label {
    display: block;
}
.handle {
    width: 300px;
    margin: 10px 0 20px 0;
}
.message {
    width: 514px;
}
.message-submit-button {
    margin: 10px 0 10px -4px;
    background-color: aqua;
}
.message-submit-button--disabled {
    visibility: hidden;
}
.messages {
    width: 500px;
    height: 300px;
    background-color: green;
    margin: 10px 0 0 0;
    padding: 10px;
    overflow-y: auto;
}
.messages__my-message {
    color: white;
}
.messages__other-message {
    color: yellow;
}

