.label {
    display: block;
}
.text-input {
    width: 300px;
    margin: 10px 0 20px 0;
}
.button-input {
    margin: 10px 0 10px -4px;
    background-color: aqua;
}
.button-input--disabled {
    visibility: hidden;
}
.messages {
    width: 500px;
    height: 300px;
    background-color: green; color: white;
    margin: 10px 0 20px 0;
    padding: 10px;
    overflow-y: auto;
}
